In [62]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [63]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [64]:
train = train.drop(['Name', 'Ticket', 'Cabin'], axis = 1)
test = test.drop(['Name', 'Ticket', 'Cabin'], axis = 1)

In [65]:
train = train.dropna()
test = test.dropna()

In [71]:
train = train.replace('male', 1)
train = train.replace('female', 0)
train = train.replace('C', 0)
train = train.replace('Q', 1)
train = train.replace('S', 2)
test = test.replace('male', 1)
test = test.replace('female', 0)
test = test.replace('C', 0)
test = test.replace('Q', 1)
test = test.replace('S', 2)

In [74]:
train.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0            1         0       3    1  22.0      1      0   7.2500         2
1            2         1       1    0  38.0      1      0  71.2833         0
2            3         1       3    0  26.0      0      0   7.9250         2
3            4         1       1    0  35.0      1      0  53.1000         2
4            5         0       3    1  35.0      0      0   8.0500         2

In [75]:
x_train = train[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']]
y_train = train['Survived']

In [77]:
lreg = LogisticRegression()
lreg.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [79]:
x_test = test[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']]

In [104]:
predictions = list(lreg.predict(x_test))

In [106]:
passenger_ids = test['PassengerId'].tolist()

In [107]:
passenger_ids

[892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 915,
 916,
 917,
 918,
 919,
 920,
 922,
 923,
 924,
 926,
 927,
 929,
 930,
 932,
 934,
 935,
 936,
 937,
 938,
 940,
 941,
 942,
 943,
 944,
 945,
 947,
 948,
 949,
 951,
 952,
 953,
 954,
 955,
 956,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 969,
 970,
 971,
 972,
 973,
 974,
 978,
 979,
 981,
 982,
 984,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 995,
 996,
 997,
 998,
 1001,
 1002,
 1004,
 1005,
 1006,
 1007,
 1009,
 1010,
 1011,
 1012,
 1014,
 1015,
 1017,
 1018,
 1020,
 1021,
 1022,
 1023,
 1026,
 1027,
 1028,
 1029,
 1030,
 1031,
 1032,
 1033,
 1034,
 1035,
 1036,
 1037,
 1039,
 1041,
 1042,
 1045,
 1046,
 1047,
 1048,
 1049,
 1050,
 1051,
 1053,
 1054,
 1056,
 1057,
 1058,
 1059,
 1061,
 1063,
 1064,
 1066,
 1067,
 1068,
 1069,
 1070,
 1071,
 1072,
 1073,
 1074,
 1076,
 1077,
 1078,
 1079,
 1081,
 1082,
 1084,
 1085,
 1086,
 1087,
 1088,
 1089,
 1090,
 1093,
 1094,
 1095,
 1096,
 1098,
 1099,
 1100,
 1101,
 1102,
 1104,
 1105,
 1106,
 1107,
 1109,
 1110,
 1112,
 1113,
 1114,
 1115,
 1116,
 1118,
 1120,
 1121,
 1122,
 1123,
 1124,
 1126,
 1127,
 1128,
 1129,
 1130,
 1131,
 1132,
 1133,
 1134,
 1137,
 1138,
 1139,
 1140,
 1142,
 1143,
 1144,
 1145,
 1146,
 1149,
 1150,
 1151,
 1152,
 1153,
 1154,
 1155,
 1156,
 1161,
 1162,
 1164,
 1167,
 1168,
 1169,
 1170,
 1171,
 1172,
 1173,
 1175,
 1176,
 1177,
 1179,
 1183,
 1185,
 1186,
 1187,
 1188,
 1190,
 1191,
 1192,
 1194,
 1195,
 1197,
 1198,
 1199,
 1200,
 1201,
 1202,
 1203,
 1205,
 1206,
 1207,
 1208,
 1209,
 1210,
 1211,
 1212,
 1213,
 1214,
 1215,
 1216,
 1217,
 1218,
 1219,
 1220,
 1221,
 1222,
 1223,
 1225,
 1226,
 1227,
 1228,
 1229,
 1230,
 1232,
 1233,
 1235,
 1237,
 1238,
 1239,
 1240,
 1241,
 1242,
 1243,
 1244,
 1245,
 1246,
 1247,
 1248,
 1251,
 1252,
 1253,
 1254,
 1255,
 1256,
 1259,
 1260,
 1261,
 1262,
 1263,
 1264,
 1265,
 1266,
 1267,
 1268,
 1269,
 1270,
 1271,
 1273,
 1275,
 1277,
 1278,
 1279,
 1280,
 1281,
 1282,
 1283,
 1284,
 1285,
 1286,
 1287,
 1288,
 1289,
 1290,
 1291,
 1292,
 1293,
 1294,
 1295,
 1296,
 1297,
 1298,
 1299,
 1301,
 1303,
 1304,
 1306,
 1307]

In [ ]:
output =